/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
} */

@import url("../../../css/reset.css");
@import url("../../../css/body.css");
@import url("../../../css/header_footer.css");


/* body {
    width: 80%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */
/*  */
/* header,
footer {
    background-color: darkcyan;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
} */

nav {
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

h1 {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

h2,
h4,
p {
    text-align: center;
    margin: 5px;
}

.inicio {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(245, 245, 220, 0.7);
    border-radius: 10px;
    padding: 10px;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-transform: uppercase;
}

P {
    margin: 15px;
    text-align: left;
}



section {
    /* background-color: rgba(211, 211, 211, 0.4); */
    display: flex;
    justify-content: center;
    margin-top: 8px;
    align-content: center;
    padding: 10px;
    border-radius: 10px;
}

button {
    color: rgb(0, 0, 255);
    box-shadow: 1px 1px blue;
    width: 40px;
    border-radius: 3px;
    padding: 3px;
}

button:hover {
    color: black;
}

audio {
    margin: 5px auto;
}

article {
    text-align: center;
    /* width: 50%; */
    margin: 0 auto;
}

a li {
    padding: 5px 30px;
    border-radius: 5px;
    transition: 1s;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

a li:hover,
.active {
    background-color: darkcyan;
    color: white;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 12x;
    margin-top: 20px;
}

form {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lista {
    margin: 0 auto;
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

nav a {
    font-weight: bold;
    padding: 5px 30px;
    text-decoration: none;
}

nav a:hover {
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
    transition: 1s;
}

@media (max-width:768px) {
    video {
        width: 100%;
    }

}